<%= form_for @department, :html => {:class => "form-group"} do |f| %>
  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label><%= f.label :name %></label><br>
    <%= f.text_field :name, class: "form-control"%>
  </div>
  <div class="form-group">
    <label for=""><%= f.label :description %></label><br>   
    <%= f.text_area :description, class: "form-control"%>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-info" %>
  </div>
<% end %>
