<p id="notice"><%= notice %></p>

<p>
  <h4><strong>Name:</strong></h4>
  <%= @department.name %>
</p>

<p>
  <h4><strong>Description:</strong></h4>
  <%= @department.description %>
</p>

<p>
  <h4><strong>Projects:</strong></h4>
	<% @department.projects.each do |p| %>
		<%= p.name %><br>
	<% end %>
</p>

<p>
  <h4><strong>Members:</strong></h4>
  <% @department.members.each do | m | %>
  	<%= m.name %><br>
  <%end%>	
</p>  


<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
