<p id="notice"><%= notice %></p>

<p>
  <h4><strong>Name:</strong></h4>
  <%= @project.name %>
</p>

<p>
	<h4><strong>Description:</strong></h4>
  <%= @project.description %>
</p>

<p>	
	<h4><strong>Departments:</strong></h4>
	<% @project.departments.each do |d| %>
		<%= d.name %><br>
	<% end %>
</p>

<p>
	<h4><strong>Members:</strong></h4>
	<% @project.departments.each do |d| %>
		<% d.members.each do |m| %>
			<%= m.name %><br>
		<% end %>
	<% end %>	
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
