<p id="notice"><%= notice %></p>

<h1>Members
<%= link_to 'New Member', new_member_path, class: "btn btn-success"%>
</h1>

<table class="table table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sex</th>
      <th>Age</th>
      <th>Email</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to "#{member.name}", member_path(member) %></td>
        <% if member.male? %>
          <td>Male</td>
        <% else %>
          <td>Female</td>
        <% end %>
        <td><%= member.age %></td>
        <td><%= member.email %></td>
        <td><%= member.department.name %></td>    
        <td><%= link_to 'Destroy', member, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @members %>
<br>


